{% extends "::base.html.twig" %}

{% block principale %}
	<div id="accordion">
		<h3> Ajouter un nouveau livre </h3>
		<div>	
			<form method="post" action="{{ path ('ajouterLivre') }}">

				{{form_widget(form)}}

				<div>
					<label for="ajouter">&nbsp;</label>
					<input type="submit" id="ajouter" value="Ajouter">
				</div>
			</form>
		</div>
	</div>

	<script>
    	$(document).ready(function() {
        	$( "#accordion" ).accordion({icons: null});
    	});
    </script>
{% endblock %}