{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

	{% block principale %}
		<div class="row">
			<div class="col-sm-12">
				<h3> <span class="glyphicon glyphicon-option-vertical"></span> Compte créé </h3>
			</div>
			<div class="col-sm-12">
				<div class="alert alert-success">
					{{ 'registration.check_email'|trans({'%email%': user.email}) }}
				</div>
			</div>
		</div>
	{% endblock %}
