{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block principale %}
    <div id="accordion">
    	<h3> confirmation par mail </h3>
    	<div>
    		<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    	</div>
    </div>
    <script>
		$('#accordion').accordion({icons:null});
   	</script>	
{% endblock %}
