{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block principale %}
	<div id="accordion">
		<h3> Erreur </h3>
		<div>
			{{ 'resetting.password_already_requested'|trans }}
		</div>
	</div>
	<script>
		$('#accordion').accordion({icons:null});
	</script>
{% endblock %}
