{% extends "base.html.twig" %}
{% block title %} Demande déjà prise en compte {% endblock %}
{% trans_default_domain 'FOSUserBundle' %}

{% block principale %}
	<div class="cadre">
		<div class="row">
			<div class="col-sm-12">
				<h3><span class="glyphicon glyphicon-option-vertical"></span>Demande déjà effectuée</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="alert alert-warning">
					{{ 'resetting.password_already_requested'|trans }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
