{% trans_default_domain 'FOSUserBundle' %}

<div class="cadre">
    <div class="row">
        <div class="col-sm-12">
            <h3><span class="glyphicon glyphicon-option-vertical"></span> Mot de passe oublié </h3>
        </div>
    </div>
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="row">
            <div class="col-sm-6">
                {% if invalid_username is defined %}
                        <div class="alert alert-danger">
                            {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
                        </div>
                {% endif %}
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3"><span class="glyphicon glyphicon-user"></span> / @</span>
                    <input  type="text" id="username" name="username" required="required" class="form-control" placeholder=" Nom d'utilisateur ou adresse mail" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 center">
                <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn"/>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </form>
</div>
