*{
  Trebuchet MS,Helvetica,Arial,sans-serif
}
.globale{
  margin:auto;
  width:1333px;
}
.resultats, .home{
width:656px;
margin:5px; 
float:left;
}
.clean{
  clear:both;
  }
body{
  background: linear-gradient(45deg, #009595, #006060,#009595); /* Standard syntax */
  background-attachment: fixed;
}
#connexion{
  width:350px;
  text-align:center;
}
#site{

}
.right{
  float:right;
  margin-right:20px;
}
div.profilPicture{
  float:left;
  margin-right:10px;
}
img.seriePicture{
  max-height:150px;
  max-width:150px;
  float: right; 
  margin: 0px 0px 15px 20px;
}
.descript{
  float:left;
  width:auto;
  clear:both;
  margin-bottom:15px;
}
img.profilPicture{
  max-height:265px;
  max-width:350px;
}

div.profilInfo{
  float:left;
  margin-right:10px;
}
.profilInfo{
  width:500px;
}
.autreInfo{

}
.resultat :hover{
  cursor:pointer;
}
#baniere{
  width:900px;
  text-align: center;
}
#piedDePage{
  clear:both;
}
hr{
  clear:both;
}
#ban{
  height:150px;
  width: 640px;
}
#logo{
	height:150px;
	width:150px;
}
.description{
  width:800px;
  float:left;
}
div .image{
  width:300px;
float:right
}
img .image{
  max-width:290px;

}

tr .admin{
  border: 1px grey solid;
}

td .admin{
  border: 1px grey solid;
}
.admin{
  border: 1px grey solid;
  text-align:center;
  margin:auto;
  border-collapse: collapse;
  padding:5px;
}
label
{
    display: block;
    width: 200px;
    float: left;
}

div {
	margin: auto;
  margin-top:5px;
  margin-bottom:5px;
}
.ui-icon-search{
  margin-top:-20px;
  position:absolute;
  z-index:15;
  margin-left:335px;
}
.recherche{
  width:inherit;
}


#imgProfil{
  max-height: 70px;
  max-width: 100px;
  float:left;
  margin:10px;
}

.contentListing{
  clear:both;
}

.listing{
  width:100px;
  float:left;
}

.error{
background-color: tomato;
border-radius: 5px;
border:2px inset red;
width : 1300px;
padding: 10px;
}


.btn, .btn-align{
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
  background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
  background-color:#599bb3;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
  margin:auto;
}
.btn:hover , .btn-align:hover{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
  background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
  background-color:#408c99;
}
.btn:active , .btn-align :active{
  position:relative;
  top:1px;
}
hr{ 
  border: 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}
.btn-align{
  float:right;
  margin-right:20px;
}