#imgProfil{
  max-height: 125px;
  max-width: 165px;
}
.inlineBlock{
	display:inline-block;
}
.alert{
	margin-top:5px;
	margin-bottom: 5px;
}
.cadre{
	border: 1px solid #EEEEEE;
	border-radius: 15px;
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
}
.ImgSerie{
	max-height: 160px;

}
.division{
	background-color:#DDDDDD;

}
.indent{
	margin-left:10px;
}
.center{
	text-align: center;
}
.title{
	font-size:x-large;
	font-weight: bold;
	font-style:underline;
}
.subTitle{
	font-size:large;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

body{
	padding-top:50px;
}
#ban{
	height:20px;
	width:115px;
}
#imageBackground{
	background-color: #6495ED /*LightSteelBlue*/;
	height:auto;
	overflow:visible;
	padding-bottom:17px;
}
.navbar-brand {
	padding-top: 15px;
	padding-bottom: 15px;
}
.btn{
	margin-top:5px;
	margin-bottom:5px;
}

@media (min-width: 768px){
	#imageBackground{
		background-color:#6495ED /*LightSteelBlue*/;
		background-image: url('../fichiers/images/site/logo.png');
		background-repeat: no-repeat;
		background-size: 250px auto;
	}
	#bandeau{
	height:250px;
}


}
@media (min-width: 992px) {
	#ban{
		height:40px;
		width:230px;
	}

	.navbar-brand {
		padding: 5px;
	}
}
